@import './theme.scss';

* {
  padding: 0;
  margin: 0;
  // border-radius: 0 !important;
}

html, body {
height: 100%;
  font-size: 14px;
  color:  #333;
  overflow: hidden;
}

a {
	text-decoration-line: none;
	color: #383b4a;
	&:hover {
		color: #002aff;
	}
}

li {
	list-style: none;
}

#app {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $color-font;
	height: 100%;
	background: $bg-color;
	background-image: url('./assets/image/login-bg-btm.png');
	background-repeat:repeat;
}

.vertical-center {
	display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
	-ms-box-align: center;
}

.wapper {
	width: 100%;
	height: 100%;
}

.ba-shadow {
	box-shadow: 0 20px 50px 0px $shadow-color;
}

.ba-shadow-btm {
	box-shadow: 0 20px 50px 0px #5c6783a3;
}

.ba-basic-color {
	background-color: $basic-color !important;
}
.ba-bg-color {
	background-color: $panel-bg-color;
}

.ba-panel-color {
	background-color: #ecf5ff !important;
}

.ba-basic-color-aph {
	background: rgba($color: $basic-color, $alpha: 0.92);
}

.ba-basic-color-aph-5 {
	background: rgba($color: $basic-color, $alpha: 0.6);
}

.bg-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #eaedfad9;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mar-top-10 {
	margin-top: 10px;
}

.mar-top-20 {
	margin-top: 20px;
}

.mar-top-30 {
	margin-top: 30px;
}

.mar-btm-5 {
	margin-bottom: 5px;
}

.pad-0 {
	padding: 0;
}

.pad-top-10 {
	padding-top: 10px;
}

.pad-tb-10 {
	padding: 10px 0;
}

.pad-lf-20 {
	padding-left: 50px;
}

.pad-5 {
	padding: 5px;
}
.pad-10 {
	padding: 10px;
}

.param-name-color {
	font-size: 20px !important;
	color: $param-color;
}

.max-w-600 {
	max-width: 600px
}
.min-w-200 {
	min-width: 200px;
}

.el-input__inner {
	border: 0px !important;
	background: $panel-bg-color !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #b9beda !important;
	transition: all .3s !important;
	padding: 0 !important;
}

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
	border-color: #f56c6c !important;
}

.el-textarea__inner {
	background: $panel-bg-color !important;
}

.el-input__inner:focus {
	border-color: $basic-color !important;
}

.el-input__inner:hover {
	border-color: $basic-color !important;
}

.el-form-item__content {
	text-align: left !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner, .el-select {
	width: 100%;
}

.el-button--primary, .el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color: $basic-color;
}

.el-pager li.active {
	color: $basic-color;
}

.el-dialog, .el-range-input {
	background: $panel-bg-color !important;
}

.el-form-item__label {
	text-align: left;
}

input {
	border: none;
	height: 30px;
	border-bottom: 1px #666 solid;
	&:focus {
		outline: none;
		border-color: $basic-color
	}
	&:hover {
		border-color: $basic-color
	}
}


input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 420px){
	.el-message-box {
			width: 90vw !important;
	}
}


