<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Slider</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<div class="wapper">
		<div class="slider-container">
			<div class="slider">
				<ul id="slider-img">
					<li style="background: yellow">5</li>
					<li style="background: red">1</li>
					<li style="background: blue">2</li>
					<li style="background: black">3</li>
					<li style="background: green">4</li>
					<li style="background: yellow">5</li>
					<li style="background: red">1</li>
				</ul>
				<ul class="slider-point">
					<li class="point-focus"></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="slider-arrow">
					<div class="span-wapper">
						<span class="prev" >＜</span>
						<span class="next">＞</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
